POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5433
POSTGRES_USER=parser
POSTGRES_PASSWORD=parser
POSTGRES_DB=parser
POSTGRES_SSLMODE=disable

KAFKA_BROKER=localhost:9092
KAFKA_ORDER_REQUEST_TOPIC=vk-blogger-orders
KAFKA_ORDER_RESPONSE_TOPIC=vk-blogger-results
KAFKA_ORDER_REQUEST_GROUP_ID=parser

WORKER_POOL_SIZE=4
VK_ACCESS_TOKEN=
VK_API_VERSION=5.130
VK_BASE_URL=https://api.vk.com/method
VK_TIMEOUT_SECONDS=10
